
  .resizedTextbox {width: 600px; height: 20px}
  
 
  .h4 {
      font-weight: normal;
  }
  .text-input-1 {
    height: 2rem;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 0.5rem;
    background-color: white;
    margin-left: 1rem;
    width: 15rem;
  }
  
  .form {
    display: flex;
    flex-direction: row;
  }
  .add {
    background-color: rgb(105,121,248);
    color: white;
    height: 2rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'work sans' sans-serif;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    border-radius: 0.5rem;
    border-color: rgb(105,121,248);
    margin-top: 5rem;
  }
  .add:hover {
    background-color: white;
    color: rgb(105,121,248);
    border-color: white;
    
  }

 